
{% extends 'workblog/base.html' %}

{% load static %}
{% block static_files %}
<link rel="stylesheet" type="text/css" href="{% static 'workblog/code-style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
{% endblock %}

{% block content %}
    <div class="article" id="3-october">
        <div class="article-title">
            <h2><a href="https://www.codewars.com/kata/521c2db8ddc89b9b7a0000c1/discuss">Snail kata</a></h2>
            <h3>3rd of October</h3>
        </div>
        <br>
        <h4>Description</h4>
        <div class="description">
            <p>Given an n x n array, return the array elements arranged from outermost elements to the middle element, traveling clockwise.</p>
            <pre class="unmarked">
                array = [[1,2,3],
                         [4,5,6],
                         [7,8,9]]
                snail(array) #=> [1,2,3,6,9,8,7,4,5]
            </pre>
            <p>For better understanding, please follow the numbers of the next array consecutively:</p>
            <pre class="unmarked">
                array = [[1,2,3],
                         [8,9,4],
                         [7,6,5]]
                snail(array) #=> [1,2,3,4,5,6,7,8,9]
            </pre>
            <p>This image will illustrate things more clearly:</p>
            <img src="{% static 'workblog/tools_i_use/snail.png' %}" alt="">
            <p>
                NOTE: The idea is not sort the elements from the lowest value to the highest; the idea is to traverse the 2-d array in a clockwise snailshell pattern.
                <br>
                NOTE 2: The 0x0 (empty matrix) is represented as en empty array inside an array [[]].
            </p>
        </div>
        <h4 class="sol">Solution</h4>
        <div class="solution">
            <pre>
            def <span class="function-name">snail</span>(input_data):
                output_list = []

                <span class="keyword">try</span>:
                    <span class="keyword">while</span> True:
                        <span class="comment"># Append all elements of first list</span>
                        <span class="keyword">for</span> element <span class="keyword">in</span> input_data[0]:
                            output_list.<span class="function-name">append</span>(element)
                        <span class="comment"># Remove first list</span>
                        input_data.<span class="function-name">pop</span>(0)
            
                        <span class="comment"># Append last values of all lists that remain,
                            but the last one</span>
                        <span class="keyword">for</span> list <span class="keyword">in</span> input_data:
                            <span class="keyword">if</span> list != input_data[-1]:
                                output_list.<span class="function-name">append</span>(list.<span class="function-name">pop</span>())
                        
                        <span class="comment"># Reverse the last list and append it</span>
                        input_data[-1].<span class="function-name">reverse</span>()
                        <span class="keyword">for</span> element <span class="keyword">in</span> input_data[-1]:
                            output_list.<span class="function-name">append</span>(element)
                        input_data.<span class="function-name">remove</span>(input_data[-1])
                        
                        <span class="comment"># Append the first values of lists that remain,
                            but reverse the lists first</span>
                        input_data.<span class="function-name">reverse</span>()
                        <span class="keyword">for</span> list <span class="keyword">in</span> input_data:
                            output_list.<span class="function-name">append</span>(list[0])
                            list.<span class="function-name">remove</span>(list[0])
                        input_data.<span class="function-name">reverse</span>()
                    
                        <span class="comment"># Repeat untill the index is empty at any step</span>
                
                        <span class="keyword">except</span>:
                <span class="keyword">return</span> output_list
            </pre>
        </div>
        <div class="additional">
            <p>
                This exercise gave me somethin to think about. I've made a <a href="https://www.youtube.com/watch?v=-BOOzjcFq-0&t=1s">video</a> where I explain the exercise, go through
                my solution, and then debug it.
            </p>
        </div>
    </div>
    <hr>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}