
{% extends 'workblog/base.html' %}

{% load static %}
{% block content %}
            <article id="disclaimer">
                <div class="left-side">
                    <img class="rok" src="{% static 'workblog/tools_i_use/rok.jpg' %}" alt="">
                    <br>
                </div>
                <div class="right-side">
                <p>
                Hi! <br> My name is Rok and I am a web developer.
                </p>
                <br>
                <p>
                    <a href="https://github.com/HyoMiYing" target="_blank">github</a> - HyoMiYing
                </p>
                <br>
                <div class="most-frequently-used-tools">
                    <h2>Most frequently programming in:</h2>
                    <ul>
                        <li class="list-item"><img src="{% static 'workblog/tools_i_use/python-original.svg' %}" alt=""><span>Python</span></li>
                        <li class="list-item"><img src="{% static 'workblog/tools_i_use/javascript-original.svg' %}" alt=""><span>JavaScript</span></li>
                        <li><br></li>
                        <h2>Favourite framework:</h2>
                        <li class="list-item"><img src="{% static 'workblog/tools_i_use/django-original.svg' %}" alt=""><span>Django</span></li>
                    </ul>
                        </div>
                    </article>
                    <br>
                    <br>
                    <div id="center">
                        <div id="game-ui">
                            <h2 id="game-title"><b>Sticker Game</b></h2>
                            <p id="game-subtitle">Whoever picks up the last card, looses.</p>
                            <form id='main-form'>
                            </form>
                            <div id="id-error">Please select at least one card</div>
                            <button id="submit-button">Make a move</button>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="email">
                            You can reach me at <strong style="font-weight: 700;">rklancar@gmail.com</strong>.
                        </p>
                        <script src="{% static 'workblog/app.js' %}"></script>
                    </div>
{% endblock %}