/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    line-height: 1.5;
    background-color: #F7F6F5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Indent nestel ul */
ul > li {
    margin-left: 10px;
}

/* Modify content and split navigation and main content. */

body {
    max-width: 1000px;
    margin: 5% 20%;
    margin-bottom: 3%;
    display: flex;
}

main {
    flex: 3;
}

nav {
    flex: 1;
}

/* Links */

a {
    color: #138FB9;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #138FB9;
}

#home {
    margin: 10px 0;
}

#home_btn {
    background: #FF8C00;
    color: #F7F6F5;
    padding: 9px 10px;
    font-size: 21px;
    font-weight: bold;
}

#home_btn:hover {
    text-decoration: none;
    background: #EE4D33;
}

/* What this page is about */

#disclaimer {
    margin: 3% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Project articles */

.projecttitle {
}

.projecthr {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

/* Article styling */

.icon img {
    max-height: 80px;
}

/* FIRST ROW */
.first-row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
}

/* Center title */
.title {
    display: flex;
}

.title h2 {
    margin: auto;
    font-size: 2rem;
}

/* SECOND ROW */
.second-row {
    margin-bottom: 1rem;
}

.second-row .links {
    display: flex;
    flex-direction: column;
}

/* THIRD ROW */
.third-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-row .description {
    display: flex;
}

.third-row .description p {
    margin: auto;
}

.built-with-icon {
    margin-left: 1rem;
    display: flex;
}

.built-with-icon img {
    margin-top: auto;
    min-height: 10px;
    max-height: 50px;
}

/* Index icons */
.most-frequently-used-tools img{
    height: 20px;
    margin: 5px;
}

.list-item {
    display: flex;
}

.list-item img{
    height: 20px;
    margin: 5px;
}

/* Index image */
.rok {
    max-height: 300px;
}

/* Index */
.middle {
    display: flex;
    justify-content: space-between;
}

.email {
    text-align: center;
}

/* Smartphones */

@media(max-width: 500px) {
    body {
        margin: 3%;
        display: grid;
    }

    #home_btn {
        padding: 6px 7px;
    }
}

/* Sticker game */
#game-ui {
    height: 200px;
    text-align: center;
}

.card {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.card:hover {
    background-color: grey;
}

.clicked {
    background-color: red;
}

#main-form {
    height: 130px;
    text-align: center;
}